.btn-rounded {
  @apply rounded-3xl !important;
}

.btn-xl {
  @apply rounded-2xl !important;
  padding: 24px 48px;
  min-width: 168px;
}

.arrow-btn {
  @apply bg-black !important;
  border: solid 1px #838c87;
  padding: 16px;
}
